<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changing.erpsystembackend.mapper.EmployeeMapper">
    <!-- Insert -->
    <insert id="insertEmployee" parameterType="com.changing.erpsystembackend.entity.Employee">
        INSERT INTO "Employee" (ID, PERSON_ID, DEPARTMENT, POSITION, STARTDATE, STATUS, RESUME)
        VALUES (EMPLOYEE_ID_SEQ.NEXTVAL, #{personId}, #{department}, #{position}, #{startDate}, #{status}, #{resume,jdbcType=CLOB})
    </insert>

    <!-- Update -->
    <update id="acceptApply" parameterType="int">
        UPDATE "Employee"
        SET STATUS = 'join', PASSWORD = '123'
        WHERE ID = #{id}
    </update>

    <update id="rejectApply" parameterType="int">
        UPDATE "Employee"
        SET STATUS = 'reject'
        WHERE ID = #{id}
    </update>

    <!-- Select-->
    <select id="findEmployeeByTelAndPassword" parameterType="map" resultMap="EmployeeResultMap">
        SELECT e.ID AS employee_id, e.PASSWORD AS PASSWORD, e.DEPARTMENT AS DEPARTMENT, e.POSITION AS POSITION, e.START_DATE AS START_DATE, e.END_DATE AS END_DATE, e.STATUS AS STATUS, e.RESUME AS RESUM, e.PERSON_ID AS PERSON_ID,
                p.ID AS person_id, p.NAME AS NAME, p.GENDER AS GENDER, p.NATIONALITY AS NATIONALITY, p.BIRTHDAY AS BIRTHDAY, p.BIRTHPLACE AS BIRTHPLACE, p.POLITICALSTATUS AS POLITICALSTATUS, p.TEL AS TEL, p.EMAIL AS EMAIL
        FROM "Employee" e LEFT JOIN "Person" p ON e.PERSON_ID = p.ID
        WHERE p.TEL = #{tel} AND e.PASSWORD = #{password}
    </select>

    <select id="getEmployeeDistribution" resultType="int">
        SELECT COUNT(*) AS count
        FROM "Employee"
        WHERE status = 'join'
    </select>

    <select id="getAgeDistribution" resultType="java.util.Map">
        SELECT COUNT(*) AS count, FLOOR(MONTHS_BETWEEN(SYSDATE, BIRTHDAY) / 12 / 5) * 5 AS age_bracket
        FROM "Person" p
            JOIN "Employee" e ON p.ID = e.PERSON_ID
        WHERE e.STATUS = 'join'
        GROUP BY FLOOR(MONTHS_BETWEEN(SYSDATE, BIRTHDAY) / 12 / 5) * 5
        ORDER BY age_bracket
    </select>

    <select id="getDepartmentDistribution" resultType="java.util.Map">
        SELECT department, COUNT(*) AS count
        FROM "Employee"
        WHERE status = 'join'
        GROUP BY department
    </select>

    <select id="getApplyDistribution" resultType="int">
        SELECT COUNT(*) AS count
        FROM "Employee"
        WHERE status = 'apply'
    </select>

    <select id="findEmployee" parameterType="com.changing.erpsystembackend.dto.personnel.SearchEmployeeRequestDTO" resultMap="EmployeeResultMap">
        SELECT e.ID as employee_id, e.DEPARTMENT, e.POSITION, e.STARTDATE, e.STATUS, e.RESUME, p.NAME, p.GENDER, p.BIRTHDAY
        FROM "Employee" e LEFT JOIN "Person" p ON e.PERSON_ID = p.ID
        WHERE 1=1
        <if test="id != null and id != ''">
            AND e.ID = #{id}
        </if>
        <if test="department != null and department != ''">
            AND e.DEPARTMENT = #{department}
        </if>
        <if test="position != null and position != ''">
            AND e.POSITION = #{position}
        </if>
        <if test="gender != null and gender != ''">
            AND p.GENDER = #{gender}
        </if>
        <if test="status != null and status != ''">
            AND e.STATUS = #{status}
        </if>
        <if test="name != null and name != ''">
            AND p.NAME LIKE '%' || #{name} || '%'
        </if>
        <if test="ageStart != null">
            AND TIMESTAMPDIFF(YEAR, p.BIRTHDAY, CURDATE()) &gt;= #{ageStart}
        </if>
        <if test="ageEnd != null">
            AND TIMESTAMPDIFF(YEAR, p.BIRTHDAY, CURDATE()) &lt;= #{ageEnd}
        </if>
    </select>

    <select id="findResumeById" resultType="java.lang.String">
        SELECT RESUME
        FROM "Employee"
        WHERE ID = #{id}
    </select>

    <resultMap id="EmployeeResultMap" type="com.changing.erpsystembackend.entity.Employee">
        <id column="employee_id" property="id"/>
        <result column="PASSWORD" property="password"/>
        <result column="DEPARTMENT" property="department"/>
        <result column="POSITION" property="position"/>
        <result column="START_DATE" property="startDate"/>
        <result column="END_DATE" property="endDate"/>
        <result column="STATUS" property="status"/>
        <result column="RESUME" property="resume"/>
        <result column="PERSON_ID" property="personId"/>
        <association property="person" javaType="com.changing.erpsystembackend.entity.Person">
            <id column="person_id" property="id"/>
            <result column="NAME" property="name"/>
            <result column="GENDER" property="gender"/>
            <result column="NATIONALITY" property="nationality"/>
            <result column="BIRTHDAY" property="birthday"/>
            <result column="BIRTHPLACE" property="birthplace"/>
            <result column="POLITICALSTATUS" property="politicalStatus"/>
            <result column="TEL" property="tel"/>
            <result column="EMAIL" property="email"/>
        </association>
    </resultMap>

</mapper>