<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changing.erpsystembackend.mapper.OrderMapper">

    <insert id="createOrder" parameterType="com.changing.erpsystembackend.entity.Order">
        INSERT INTO ORDERS (ORDERNUMBER, DEPARTMENT, CREATOREMPLOYEEID, CREATIONDATE, PRODUCTNAME, SPECIFICATION, MATERIAL, QUANTITY, UNITPRICE, CLIENT, CONTRACTFILEPATH)
        VALUES (#{orderNumber}, #{department}, #{creatorEmployeeId}, #{creationDate}, #{productName}, #{specification}, #{material}, #{quantity}, #{unitPrice}, #{client}, #{contractFilePath})
    </insert>

    <select id="findOrderByOrderNumber" resultType="com.changing.erpsystembackend.entity.Order">
        SELECT * FROM ORDERS
        WHERE ORDERNUMBER = #{orderNumber}
    </select>

    <select id="findOrderByDepartment" resultType="com.changing.erpsystembackend.entity.Order">
        SELECT * FROM ORDERS
        WHERE DEPARTMENT = #{department}
    </select>

    <select id="findOrderByCreatorEmployeeId" resultType="com.changing.erpsystembackend.entity.Order">
        SELECT * FROM ORDERS
        WHERE CREATOREMPLOYEEID = #{creatorEmployeeId}
    </select>

    <select id="findOrderByCreationDate" resultType="com.changing.erpsystembackend.entity.Order">
        SELECT * FROM ORDERS
        WHERE CREATIONDATE = #{creationDate}
    </select>

    <select id="findOrderByProductName" resultType="com.changing.erpsystembackend.entity.Order">
        SELECT * FROM ORDERS
        WHERE PRODUCTNAME = #{productName}
    </select>

    <select id="findOrderByMaterial" resultType="com.changing.erpsystembackend.entity.Order">
        SELECT * FROM ORDERS
        WHERE MATERIAL = #{material}
    </select>

    <select id="findOrderByClient" resultType="com.changing.erpsystembackend.entity.Order">
        SELECT * FROM ORDERS
        WHERE CLIENT = #{client}
    </select>

    <select id="findAll" resultType="com.changing.erpsystembackend.entity.Order">
        SELECT * FROM ORDERS
    </select>

    <delete id="deleteByOrderNumber">
        DELETE FROM ORDERS
        WHERE ORDERNUMBER = #{orderNumber}
    </delete>

    <update id="updateOrder" parameterType="com.changing.erpsystembackend.entity.Order">
        UPDATE ORDERS
        SET
            DEPARTMENT = #{department},
            CREATOREMPLOYEEID = #{creatorEmployeeId},
            CREATIONDATE = #{creationDate},
            PRODUCTNAME = #{productName},
            SPECIFICATION = #{specification},
            MATERIAL = #{material},
            QUANTITY = #{quantity},
            UNITPRICE = #{unitPrice},
            CLIENT = #{client},
            CONTRACTFILEPATH = #{contractFilePath}
        WHERE ORDERNUMBER = #{orderNumber}
    </update>

</mapper>
